<div class="card">
  <div class="card-body">
    <%= form_with model: @todo, local: true do |f| %>
    <%= f.text_field :description %>
        <%= f.submit "Crear" %>
     
 
    <% end %>
  </div>
</div>
